body {
  font:
    1.2em Helvetica,
    Arial,
    sans-serif;
  margin: 20px;
  padding: 0;
}

img {
  max-width: 100%;
}

svg.control {
  width: 32px;
  height: 32px;
}

path.drop-shadow {
  fill: #f77e00;
}

path.drop-shadow-off {
  fill: #4b4743;
}

path.bg {
  fill: #ff9800;
}

path.bg-off {
  fill: #7a736a;
}

path.fg {
  fill: #fafafa;
}

path.shine {
  fill: #ffbd52;
}

path.shine-off {
  fill: #918e8a;
}

#wrapper {
  max-width: 960px;
  margin: 2em auto;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#tracks {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (min-width: 900px) {
  #wrapper {
    display: flex;
  }

  #ui {
    display: flex;
    gap: 3%;
    width: 100%;
  }

  #cover-image {
    margin-right: 5%;
    max-width: 60%;
  }

  #controls {
    width: 40%;
  }
}
